<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{HH:mm:ss}}{bright_black} [%t] %highlight{%-5level} %style{%logger{36}}{cyan} - %msg%n"
                    disableAnsi="false"
                    noConsoleNoAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="cz.jpmad.dbscope" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>